target/
.metals/metals.log
target/introduction-analysis.bin
target/introduction-test-analysis.bin
target/bloop-bsp-clients-classes/classes-Metals-m0dDL_4LRlWrr5mv6lzV2Q==/META-INF/semanticdb/src/main/scala/com/spark/App.scala.semanticdb
target/bloop-bsp-clients-classes/classes-Metals-m0dDL_4LRlWrr5mv6lzV2Q==/com/spark/App.class
target/bloop-bsp-clients-classes/classes-Metals-m0dDL_4LRlWrr5mv6lzV2Q==/com/spark/App$.class
target/bloop-bsp-clients-classes/test-classes-Metals-m0dDL_4LRlWrr5mv6lzV2Q==/META-INF/semanticdb/src/test/scala/samples/junit.scala.semanticdb
target/bloop-bsp-clients-classes/test-classes-Metals-m0dDL_4LRlWrr5mv6lzV2Q==/META-INF/semanticdb/src/test/scala/samples/scalatest.scala.semanticdb
target/bloop-bsp-clients-classes/test-classes-Metals-m0dDL_4LRlWrr5mv6lzV2Q==/META-INF/semanticdb/src/test/scala/samples/specs.scala.semanticdb
target/bloop-bsp-clients-classes/test-classes-Metals-m0dDL_4LRlWrr5mv6lzV2Q==/samples/AppTest.class
target/bloop-bsp-clients-classes/test-classes-Metals-m0dDL_4LRlWrr5mv6lzV2Q==/samples/ExampleSpec.class
target/bloop-bsp-clients-classes/test-classes-Metals-m0dDL_4LRlWrr5mv6lzV2Q==/samples/ListSuite.class
target/bloop-bsp-clients-classes/test-classes-Metals-m0dDL_4LRlWrr5mv6lzV2Q==/samples/MySpecTest.class
target/bloop-bsp-clients-classes/test-classes-Metals-m0dDL_4LRlWrr5mv6lzV2Q==/samples/StackSuite.class
target/bloop-internal-classes/test-classes-Metals-m0dDL_4LRlWrr5mv6lzV2Q==-HtGa9CziQ8O4s4h3-3QlYQ==/META-INF/semanticdb/src/test/scala/samples/junit.scala.semanticdb
target/bloop-internal-classes/test-classes-Metals-m0dDL_4LRlWrr5mv6lzV2Q==-HtGa9CziQ8O4s4h3-3QlYQ==/META-INF/semanticdb/src/test/scala/samples/scalatest.scala.semanticdb
target/bloop-internal-classes/test-classes-Metals-m0dDL_4LRlWrr5mv6lzV2Q==-HtGa9CziQ8O4s4h3-3QlYQ==/META-INF/semanticdb/src/test/scala/samples/specs.scala.semanticdb
target/bloop-internal-classes/test-classes-Metals-m0dDL_4LRlWrr5mv6lzV2Q==-HtGa9CziQ8O4s4h3-3QlYQ==/samples/AppTest.class
target/bloop-internal-classes/test-classes-Metals-m0dDL_4LRlWrr5mv6lzV2Q==-HtGa9CziQ8O4s4h3-3QlYQ==/samples/ExampleSpec.class
target/bloop-internal-classes/test-classes-Metals-m0dDL_4LRlWrr5mv6lzV2Q==-HtGa9CziQ8O4s4h3-3QlYQ==/samples/ListSuite.class
target/bloop-internal-classes/test-classes-Metals-m0dDL_4LRlWrr5mv6lzV2Q==-HtGa9CziQ8O4s4h3-3QlYQ==/samples/MySpecTest.class
target/bloop-internal-classes/test-classes-Metals-m0dDL_4LRlWrr5mv6lzV2Q==-HtGa9CziQ8O4s4h3-3QlYQ==/samples/StackSuite.class
target/classes/com/spark/App.scala
.metals/metals.h2.db
.metals/metals.log
.metals/readonly/dependencies/avro-1.10.2-sources.jar/.jar.meta
.metals/readonly/dependencies/avro-1.10.2-sources.jar/org/apache/avro/data/Json.java
.metals/readonly/dependencies/scala-library-2.12.15-sources.jar/scala/Symbol.scala
.metals/readonly/dependencies/scala-library-2.12.6-sources.jar/scala/collection/IndexedSeqOptimized.scala
.metals/readonly/dependencies/scala-library-2.12.6-sources.jar/scala/collection/IterableLike.scala
.metals/readonly/dependencies/scala-library-2.12.6-sources.jar/scala/collection/Iterator.scala
.metals/readonly/dependencies/scala-library-2.12.6-sources.jar/scala/collection/Traversable.scala
.metals/readonly/dependencies/scala-library-2.12.6-sources.jar/scala/collection/TraversableLike.scala
.metals/readonly/dependencies/scala-library-2.12.6-sources.jar/scala/collection/mutable/ArrayBuffer.scala
.metals/readonly/dependencies/scala-library-2.12.6-sources.jar/scala/collection/mutable/ResizableArray.scala
.metals/readonly/dependencies/scala-library-2.12.6-sources.jar/scala/collection/mutable/WrappedArray.scala
.metals/readonly/dependencies/scala-library-2.12.6-sources.jar/scala/runtime/AbstractPartialFunction.scala
.metals/readonly/dependencies/spark-catalyst_2.12-3.2.0-sources.jar/org/apache/spark/sql/catalyst/QueryPlanningTracker.scala
.metals/readonly/dependencies/spark-catalyst_2.12-3.2.0-sources.jar/org/apache/spark/sql/catalyst/analysis/Analyzer.scala
.metals/readonly/dependencies/spark-catalyst_2.12-3.2.0-sources.jar/org/apache/spark/sql/catalyst/analysis/CheckAnalysis.scala
.metals/readonly/dependencies/spark-catalyst_2.12-3.2.0-sources.jar/org/apache/spark/sql/catalyst/analysis/package.scala
.metals/readonly/dependencies/spark-catalyst_2.12-3.2.0-sources.jar/org/apache/spark/sql/catalyst/expressions/Expression.scala
.metals/readonly/dependencies/spark-catalyst_2.12-3.2.0-sources.jar/org/apache/spark/sql/catalyst/expressions/aggregate/collect.scala
.metals/readonly/dependencies/spark-catalyst_2.12-3.2.0-sources.jar/org/apache/spark/sql/catalyst/parser/AstBuilder.scala
.metals/readonly/dependencies/spark-catalyst_2.12-3.2.0-sources.jar/org/apache/spark/sql/catalyst/parser/ParseDriver.scala
.metals/readonly/dependencies/spark-catalyst_2.12-3.2.0-sources.jar/org/apache/spark/sql/catalyst/parser/ParserUtils.scala
.metals/readonly/dependencies/spark-catalyst_2.12-3.2.0-sources.jar/org/apache/spark/sql/catalyst/parser/SqlBaseParser.java
.metals/readonly/dependencies/spark-catalyst_2.12-3.2.0-sources.jar/org/apache/spark/sql/catalyst/plans/QueryPlan.scala
.metals/readonly/dependencies/spark-catalyst_2.12-3.2.0-sources.jar/org/apache/spark/sql/catalyst/util/DateTimeFormatterHelper.scala
.metals/readonly/dependencies/spark-catalyst_2.12-3.2.0-sources.jar/org/apache/spark/sql/catalyst/util/TimestampFormatter.scala
.metals/readonly/dependencies/spark-catalyst_2.12-3.2.0-sources.jar/org/apache/spark/sql/errors/QueryExecutionErrors.scala
.metals/readonly/dependencies/spark-catalyst_2.12-3.2.0-sources.jar/org/apache/spark/sql/errors/QueryParsingErrors.scala
.metals/readonly/dependencies/spark-catalyst_2.12-3.2.0-sources.jar/org/apache/spark/sql/types/ArrayType.scala
.metals/readonly/dependencies/spark-catalyst_2.12-3.2.0-sources.jar/org/apache/spark/sql/types/DataType.scala
.metals/readonly/dependencies/spark-catalyst_2.12-3.2.0-sources.jar/org/apache/spark/sql/types/LongType.scala
.metals/readonly/dependencies/spark-catalyst_2.12-3.2.0-sources.jar/org/apache/spark/sql/types/StringType.scala
.metals/readonly/dependencies/spark-catalyst_2.12-3.2.0-sources.jar/org/apache/spark/sql/types/StructType.scala
.metals/readonly/dependencies/spark-core_2.12-3.2.0-sources.jar/org/apache/spark/executor/Executor.scala
.metals/readonly/dependencies/spark-core_2.12-3.2.0-sources.jar/org/apache/spark/rdd/MapPartitionsRDD.scala
.metals/readonly/dependencies/spark-core_2.12-3.2.0-sources.jar/org/apache/spark/scheduler/DAGScheduler.scala
.metals/readonly/dependencies/spark-core_2.12-3.2.0-sources.jar/org/apache/spark/scheduler/ShuffleMapTask.scala
.metals/readonly/dependencies/spark-core_2.12-3.2.0-sources.jar/org/apache/spark/scheduler/Task.scala
.metals/readonly/dependencies/spark-core_2.12-3.2.0-sources.jar/org/apache/spark/shuffle/ShuffleWriteProcessor.scala
.metals/readonly/dependencies/spark-core_2.12-3.2.0-sources.jar/org/apache/spark/util/EventLoop.scala
.metals/readonly/dependencies/spark-core_2.12-3.2.0-sources.jar/org/apache/spark/util/Utils.scala
.metals/readonly/dependencies/spark-sql_2.12-3.2.0-sources.jar/org/apache/spark/sql/execution/BufferedRowIterator.java
.metals/readonly/dependencies/spark-sql_2.12-3.2.0-sources.jar/org/apache/spark/sql/execution/WholeStageCodegenExec.scala
.metals/readonly/dependencies/spark-sql_2.12-3.2.0-sources.jar/org/apache/spark/sql/execution/aggregate/ObjectHashAggregateExec.scala
.metals/readonly/dependencies/spark-sql_2.12-3.2.0-sources.jar/org/apache/spark/sql/execution/datasources/DataSource.scala
.metals/readonly/dependencies/spark-sql_2.12-3.2.0-sources.jar/org/apache/spark/sql/execution/datasources/DataSourceUtils.scala
.metals/readonly/dependencies/spark-sql_2.12-3.2.0-sources.jar/org/apache/spark/sql/execution/datasources/FileFormatWriter.scala
.metals/readonly/dependencies/src.zip/java/lang/Thread.java
.metals/readonly/dependencies/src.zip/java/time/format/DateTimeFormatter.java
.metals/readonly/dependencies/src.zip/java/util/concurrent/ThreadPoolExecutor.java
.metals/metals.h2.db
.metals/metals.lock.db
.metals/metals.log
.metals/readonly/dependencies/spark-catalyst_2.12-3.2.0-sources.jar/org/apache/spark/sql/catalyst/expressions/package.scala
